@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f0d8;
  margin: 0;
  display: flex;
  flex-direction: row;
  min-height: 100vh; 
  font-family: "Roboto", sans-serif;
}

.barra-lateral {
  margin: 10px;
  width: 220px;
  background-color: #77cca4;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto; 
}

img {
  width: 80px;
}

.barra-lateral h2 {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.barra-lateral a {
  color: black;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  transition: background 0.3s;
}

.barra-lateral a:hover {
  background-color: #f0f0d8be;
  border-radius: 5px;
  padding-left: 10px;
}

.conteudo {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; 
}

.titulo-dashboard {
  margin-bottom: 20px;
}

.cartao {
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
  
}

.cartao:hover {
  transform: translateY(-5px);
}

.cartao canvas {
  margin-top: 10px;
  width: 100% !important;
  height: 260px !important;
}

.container-chat {
  max-width: 600px;
  margin: auto;
  background:#77cca4;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 80vh; 
}

.caixa-chat {
  flex-grow: 1; 
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: #f9f9f9;
}

.mensagem-chat {
  margin: 5px 0;
}

.usuario-chat {
  font-weight: bold;
}

.entrada-chat {
  display: flex;
  gap: 10px;
}

.entrada-chat input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.entrada-chat button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #1f65ce;
  color: white;
}

input {

    outline:none;
    
}


@media screen and (max-width: 768px), screen and (max-height: 600px) {
  body {
    flex-direction: column;
  }

  .barra-lateral {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
    overflow-x: auto; 
  }

  .barra-lateral h2 {
    display: none;
  }

  .barra-lateral a {
    font-size: 0.8rem;
    padding: 6px 0;
  }

  .conteudo {
    padding: 10px;
  }

  .dashboard-title {
    font-size: 1.2rem;
  }

  .card canvas {
    height: 150px !important;
  }

  .card h5 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.9rem;
  }

  .container-chat {
    width: 100%;
    height: 70vh;
  }
}